DATABASE_URL=mssql+pyodbc://<username>:<password>@<host>:<port>/<database_name>?driver=ODBC+Driver+17+for+SQL+Server&Encrypt=no
NESINE_API_URL=https://cdnbulten.nesine.com/api/bulten/getprebultenfull
MACKOLIK_JSON_URL=https://www.mackolik.com/perform/p0/ajax/components/competition/livescores/json
SCRAPE_INTERVAL_SECONDS=60
PYTHONDONTWRITEBYTECODE=1
ENABLE_WORKERS=False
REDIS_URL=redis://localhost:6379
